body {
	margin:  0;
	padding: 0;
	background:#444;
}

p {
	text-align:justify;
}

a {
color:#444;
text-decoration:none;
}

a:hover {
color:#000;
text-decoration:underline;
}

h1 {	font: bold 30px Arial;} h2 {	font: bold 25px Arial; }h3 {	font: bold 20px Arial;}h4 {	font: bold 18px Arial;} h1, h2, h3, h4 {	text-align: center;}

#head {
	margin-top:20px;
	width: 99%;
	height: 150px;
	background: #dff;
	-moz-border-radius:    30px;
  -webkit-border-radius: 30px;
  border-radius:         30px;
  border:1px solid #777;
}

#oldal {
	margin-top:20px;
	font-size:30px;
	width:99%;
	background: #dff;
	-moz-border-radius:    30px;
  -webkit-border-radius: 30px;
  border-radius:         30px;
  border:1px solid #777;
}

#oldal p {
	margin-left:1%;
	margin-right:1%;
}

a.button {
	float:left;
	margin:5px;
	padding:5px;
	background:#ddd;
	padding-top:1px;
	padding-bottom:10px;
	-moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
  border:1px solid #777;
}

a.button:hover {
	background:#fff;
}

#menu a:hover {
	background:#fff;
}

img.jobb {
	float:right;
	margin:10px;
}

img.bal {
	float:left;
	margin:10px;
}

img {
	border:0px;
}

