<!DOCTYPE html>
<html>
<head>
  <title>Mumix</title>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
	<meta name="robots" content="YSED, Légkondi" />
	<link type="text/css" rel="stylesheet" href="/stylesheets/mumix.css">
	<link REL="SHORTCUT ICON" HREF="../../images/icon.jpg">
</head>
<body>
	<center>
		<div id="head">
			<div id="menu">
				<ul>
					<li><a href="/pages/home">Nyitólap</a></li>
					<li><a href="/pages/products">Termékek</a></li>
					<li><a href="/pages/contact">Elérhetőség</a></li>		
				</ul>
			</div>
		</div>
		<div id="oldal">
			<center>
				<div id="main">
				<br>
				<hr>						<%= yield %>
				</div>
			</center>
			<div style="clear: both;">&nbsp;</div>	
			<div id="vege"></div>
		</div><br>
		<div id="footer">
			<p class="kisebb"></p>
		</div>
	</center>
</body>
</html>
