<h1>Kapcsolat</h1>
<p>
<u>Tel.:</u> 350-3176<br>
<u>Cím:</u> 1139 Budapest, Országbíró u. 14.<br>
<u>E-mail:</u> muanyag.mix@upcmail.hu</p>
<center><hr width="70%""></center>
<p>
<u>Cégbemutató:</u><br>
Csomagolástechnikai anyagok forgalmazása, tanácsadás. A Tiszai Vegyi Kombinát (TVK) korábbi termékeinek országos értékesítési központja.
</p>
