<h1>Terméklista</h1>
<p>
<table>
<tr>
<td><%
	@i=0
 	@termekek.each do |x|%>
		<a  style="padding-left:5px; padding-right:5px;" href="termekmut?m=<%= x.megnev %>"><%= x.megnev %> (<%=x.db%>)</a><br>
		<%
		if @i%11==10
			%>
			</td><td>
			<%
		end
		@i=@i+1
	end
%>
</td>
</tr>
</table>
</p>
